# Genomic Data Files (Large)
*.raw
*.bed
*.bim
*.fam
*.nosex

# PLINK Output Files
*.log
*.eigenvec
*.eigenval
*.assoc.linear
*.prune.in
*.prune.out

# Python Environment & Cache
__pycache__/
venv/
.ipynb_checkpoints/
*.csv
