# Python Environment & Cache (Hide these)
__pycache__/
venv/
.ipynb_checkpoints/
.DS_Store

# PLINK Intermediate Files (Hide these)
*.log
*.prune.in
*.prune.out

# DO NOT add *.raw, *.csv, or data/ here 
# because you want your professor to see them.
